<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Chris Deaton's Portfolio Page</title>
    <!-- Style=============== -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/stylesheets/portfolio_style.css">
    <link rel="stylesheet" href="../public/stylesheets/projects_style.css">
    <!-- script===================== -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  </head>
  <body>
    <main>
      <div class="jumbotron_header jumbotron-fluid">
        <div class="banner">
          <h1>Chris Deaton</h1>
          <h3>Full Stack Developer</h3>
          <div class="nav">
            <!-- <a href=""><i class="fas fa-4x fa-info"></i></a>
            <a href=""><i class="fas fa-4x fa-envelope"></i></a>
            <a href=""><i class="fas fa-4x fa-code"></i></a>
          </div>
          <div class="nav nav_right">
            <a href=""><i class="fas fa-4x fa-book"></i></a> -->
            <a href=""><i class="fab fa-4x fa-github"></i></a>
            <a href=""><i class="fab fa-4x fa-linkedin-in"></i></a>
          </div>
        </div>
      </div>
      <div class="info_cont container">
        <div class="bio">
          <div class="bio_img">
            <img class="img" src="https://scontent-iad3-1.xx.fbcdn.net/v/t1.0-9/23559856_10103907716831498_1740347354877925646_n.jpg?oh=fc780b8847f8c6dccab4bbc88c5b8709&oe=5B17A7C5">
          </div>
          <div class="bio_desc ">

            <div class="header">
              <h2>Who am I?</h2>
            </div>
            <div class="desc_body content_box">
              <p>Lorem ipsum dolor amet normcore williamsburg pop-up food truck. Roof party taiyaki 90's snackwave subway tile flannel deep v man braid paleo. Enamel pin pok pok lo-fi vaporware live-edge. Before they sold out waistcoat leggings butcher, woke dreamcatcher photo booth church-key affogato direct trade kitsch bespoke bicycle rights heirloom ethical. Viral migas four loko street art, kogi brunch cred keffiyeh small batch succulents. Schlitz whatever vape 8-bit wolf, shabby chic meditation bushwick migas taiyaki jianbing put a bird on it man braid williamsburg. Hashtag vape snackwave hot chicken swag, kogi scenester vexillologist polaroid marfa ugh microdosing knausgaard iPhone.</p>
            </div>

          </div>
        </div>
      </div>


      <div class="container projects_cont">
        <div class="header">
          <h2>Projects I've done</h2>
        </div>
        <div class="project_body content_box">
          <div class="grid">
            <div class="grid_cell">
              <div class="project-item square effect6 from_left_and_right">
                <span class="areplace">
                  <div class="img">
                    <img src="https://i.stack.imgur.com/VKubA.png" />
                  </div>
                  <div class="info">
                    <h2>Color Game</h2>
                    <p>This is a simple app made from Javascript.</p>
                    <div class="proj_icon icon_1"><a><i class="fab fa-2x fa-github"></a></i></div>
                    <div class="proj_icon icon_2"><a><i class="fas fa-2x fa-link"></a></i></div>
                  </div>
                </span>
              </div>
            </div>
            <div class="grid_cell">
              <div class="project-item square effect6 from_left_and_right">
                <span class="areplace">
                  <div class="img">
                    <img src="https://i.stack.imgur.com/VKubA.png" />
                  </div>
                  <div class="info">
                    <h2>Musical Circles</h2>
                    <p>This is a simple app made from Javascript.</p>
                    <div class="proj_icon icon_1"><a><i class="fab fa-2x fa-github"></a></i></div>
                    <div class="proj_icon icon_2"><a><i class="fas fa-2x fa-link"></a></i></div>
                  </div>
                </span>
              </div>
            </div>
            <div class="grid_cell">
              <div class="project-item square effect6 from_left_and_right">
                <span class="areplace">
                  <div class="img">
                    <img src="https://i.stack.imgur.com/VKubA.png" />
                  </div>
                  <div class="info">
                    <h2>YelpCamp</h2>
                    <p>This is a simple app made from Javascript.</p>
                    <div class="proj_icon icon_1"><a><i class="fab fa-2x fa-github"></a></i></div>
                    <div class="proj_icon icon_2"><a><i class="fas fa-2x fa-link"></a></i></div>
                  </div>
                </span>
              </div>
            </div>
            <div class="grid_cell">
              <div class="project-item square effect6 from_left_and_right">
                <span class="areplace">
                  <div class="img">
                    <img src="https://i.stack.imgur.com/VKubA.png" />
                  </div>
                  <div class="info">
                    <h2>Blackwater Bike Shop Site</h2>
                    <p>This is a simple app made from Javascript.</p>
                    <div class="proj_icon icon_1"><a><i class="fab fa-2x fa-github"></a></i></div>
                    <div class="proj_icon icon_2"><a><i class="fas fa-2x fa-link"></a></i></div>
                  </div>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container learning_cont">
        <div class="header">
          <h2>What I am Learning</h2>
        </div>
        <div class="content_box learning_body">
          <p>Lorem ipsum dolor amet normcore williamsburg pop-up food truck. Roof party taiyaki 90's snackwave subway tile flannel deep v man braid paleo. Enamel pin pok pok lo-fi vaporware. If you have a book that you would like to recommend, then send it to me in the message section!</p>
          <div class="card-deck">
            <div id="cardfx" class="card">
              <a href="https://www.amazon.com/Eloquent-JavaScript-2nd-Ed-Introduction/dp/1593275846/ref=sr_1_1?ie=UTF8&qid=1519697436&sr=8-1&keywords=eloquent+javascript" target="
              "><img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/51IKycqTPUL._SX376_BO1,204,203,200_.jpg" alt="Card image cap"></a>

              <div class="card-body">
                <h5 class="card-title">Eloquent Javascript: <p>Marijn Haverbeke</p></h5>
                <!-- <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
              </div>
            </div>
            <div id="cardfx" class="card">
              <a href="https://www.amazon.com/Clean-Code-Handbook-Software-Craftsmanship/dp/0132350882/ref=asap_bc?ie=UTF8" target="_blank"><img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/51bPR2V9fBL._SX404_BO1,204,203,200_.jpg" alt="Card image cap"></a>

              <div class="card-body">
                <h5 class="card-title">Clean Code: <p>Robert Martin</p></h5>
                <!-- <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
              </div>
            </div>
            <div id="cardfx" class="card">
              <a href="https://www.amazon.com/Effective-Engineer-Engineering-Disproportionate-Meaningful/dp/0996128107/ref=sr_1_1?ie=UTF8&qid=1519697783&sr=8-1&keywords=effective+programmer" target="_blank"><img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/41p7Ty0Hx9L._SX331_BO1,204,203,200_.jpg" alt="Card image cap"></a>

              <div class="card-body">
                <h5 class="card-title">The Effective Engineer: <p>Edmond Lau</p></h5>
                <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
              </div>
            </div>
            <div id="cardfx" class="card">
              <a href="https://www.amazon.com/JavaScript-Definitive-Guide-Activate-Guides/dp/0596805527/ref=sr_1_7?s=books&ie=UTF8&qid=1519698064&sr=1-7&keywords=javascript" target="_blank">
                <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/51WD-F3GobL._SX379_BO1,204,203,200_.jpg" alt="Card image cap">
              </a>
              <div class="card-body">
                <h5 class="card-title">Javascript: The Definitive Guide: <p>David Flanagan</p></h5>
                <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container contact_cont">
        <div class="header">
          <h2>Want to get in touch?</h2>
        </div>
        <div class="contact_body content_box">
          <p>
            You can contact me through my email [cldeaton24@gmail.com] or send me a message right here!
          </p>
          <form action="https://formspree.io/cldeaton24@gmail.com" method="POST">
            <div class="form-row">
               <div class="form-group col-md-6">
                 <input type="text" class="form-control" placeholder="First name">
               </div>
               <div class="form-group col-md-6">
                 <input type="text" class="form-control" placeholder="Last name">
               </div>
               <div class="form-group col-md-12">
                <label for="exampleFormControlTextarea1"> Send me a message!</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
              <input class="btn btn-primary" type="submit" value="Submit">
             </div>
             <br>
             <div class="social_contact">
               <p>You can also connect with me on my Git Hub and LinkedIn pages!</p>
               <a href="https://github.com/cldeaton" target="_blank"><i class="fab fa-4x fa-github"></i></a>
               <a href="https://www.linkedin.com/in/christopher-deaton-214979149/" target="_blank"><i class="fab fa-4x fa-linkedin-in"></i></a>
             </div>
          </form>
        </div>
      </div>
      <div class="jumbotron_footer jumbotron-fluid">
        <div class="banner">
          <p>&copy; 2018 Chris Deaton - </p>
          <p> cldeaton24@gmail.com</p>
          <!-- <div class="nav nav_left">
            <a href=""><i class="fas fa-2x fa-info"></i></a>
            <a href=""><i class="fas fa-2x fa-envelope"></i></a>
            <a href=""><i class="fas fa-2x fa-code"></i></a>
          </div> -->
          <div class="nav">
            <!-- <a href=""><i class="fas fa-2x fa-book"></i></a> -->
            <a href=""><i class="fab fa-3x fa-github"></i></a>
            <a href=""><i class="fab fa-3x fa-linkedin-in"></i></a>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
