body {
  background: linear-gradient(to bottom, #fc466b, #3f5efb);
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.container {
  width: 60%;
  margin: 0 auto;
  position: fixed;
  top: 30%;
  left: 20%;
  border: 2px solid black;
  text-align: center;
}
.nav svg {
  margin: 10px 15px;
  color: #fff;
}
